<form class="module-properties-form properties-form">
    <div class="flip-container">
        <div class="shadow flip-card">
            <div class="front face">
                <div class="callout panel">
                    <div class="panel-header">
                        <h6 class="headline">Module
                            <span class="type_label">  ( ${ type } )</span>
                        </h6>
                        <ul class="actions-list module-actions">
                            <li>
                                <a href="#scheme" class="scheme-trigger" title="View module scheme as xml">
                                    <i class="fi-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#options" class="options-trigger" title="Edit module options">
                                    <i class="fi-wrench"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <label>Name
                        <input type="text" name="name" class="module-property" placeholder="Meaningfull module name." />
                    </label>
                    <label>Description
                        <input type="text" name="description" class="module-property" placeholder="What's the module's purpose?" />
                    </label>
                </div>
            </div>
            <div class="back face center">
                <div class="callout panel">
                    <div class="panel-header">
                        <h6 class="headline">Options</h6>
                        <ul class="actions-list">
                            <li>
                                <a href="#options" class="options-trigger" title="Back to module properties">
                                    <i class="fi-x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <% _.forEach(options, function(option, name) { %>
                    <label class="option-root" title="<%- option.description %>"><%- name %>
                        <% if (option.type === 'boolean') { %>
                        <input type="checkbox" name="<%- name %>" class="module-option" />
                        <% } else { %>
                        <input type="text" name="<%- name %>" class="module-option" placeholder="<%- option.placeholder %>" />
                        <% } %>
                    </label>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</form>
